.bg-custom-primary {
    background: var(--ion-color-primary);
}

.bg-custom-primary-shade {
    background: --ion-color-primary-shade;
}

.bg-custom-primary-100 {
    background: rgba(var(--ion-color-primary-rgb), 0.1);
}

.bg-custom-primary-700 {
    background: rgba(var(--ion-color-primary-rgb), 0.7);
}

.bg-custom-primary-shade {
    background: var(--ion-color-primary-shade);
}

.bg-custom-primary-tint {
    background: var(--ion-color-primary-tint);
}

.text-custom-primary {
    color: var(--ion-color-primary);
}

.focus\:border-custom-primary:focus {
    border-color: var(--ion-color-primary);
}

.bg-blue-custom {
    background: #2b354b;
}

.bg-blue-custom-light {
    background: #e7eeff;
}

.text-blue-custom {
    color: #2b354b;
}

.text-blue-custom-light {
    color: rgba(43, 53, 75, 0.5);
}

.border-blue-custom {
    border-color: #2b354b;
}

.outline-none:focus {
    outline: 0;
}

.text-capitalize {
    text-transform: capitalize;
}

.top-negative-64 {
    top: -64px;
}

.transparent-toolbar {
    --background: transparent no-repeat fixed center;
    position: absolute;

    &::before,
    &::after {
        display: none;
    }
}
