<section class="card shadow-md rounded-lg text-white">
  <section class="card__front card__part flex flex-col justify-between">
    <section>
      <img
        class="card__front-square card__square flex-1"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/1200px-Mastercard_2019_logo.svg.png"
      />
    </section>

    <section class="card_number w-full flex justify-between font-bold">
      <p>42424</p>
      <p>****</p>
      <p>****</p>
      <p>6258</p>
    </section>

    <section class="w-full flex justify-between mb-0 text-left">
      <section>
        <span class="card__label">Account</span>
        <p class="card__info font-bold">Primary</p>
      </section>
    </section>
  </section>
</section>
